<!DOCTYPE html>
<html>
<head>
	<title>Sistema de Cadastro</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="container" style="background-color: #dadada">
	<br>

	<div class="p-3 mb-2 bg-secondary text-white" role="alert">
		<h2 class="text-center">Helpdesk</h2>
	</div>
<div class="card container bg-light">
	<div>
		<ul class="nav nav-tabs nav justify-content-center">
			<li class="nav-item">
				<a class="nav-link disabled" href="{% url 'index_url' %}">Início</a> <!-- coloquei os '#' onde vc pode colocar o caminho o diretório onde vai estar o arquivo, caso queira.. -->
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="novo">Cadastrar chamado</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="lista">Lista de chamados</a>
			</li>
		</ul>
	</div>

	<table border="0" class="table">
		<br>
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nome</th>
				<th scope="col">Empresa</th>
				<th scope="col">CNPJ</th>
				<th scope="col">Responsavel</th>
				<th scope="col">Descrição</th>
				<th scope="col">Solução</th>
				<th scope="col">Editar</th>
				<th scope="col">Excluir</th>
			</tr>
		</thead>
		{% for cliente in clientes %}
		<tr>
			<td>{{cliente.pk}}</td>
			<td>{{cliente.nome}}</td>
			<td>{{cliente.empresa}}</td>
			<td>{{cliente.cnpj}}</td>
			<td>{{cliente.responsavel}}</td>
			<td>{{cliente.descricao}}</td>
			<td>{{cliente.solucao}}</td>
			<td><a href="{% url 'editar_cliente' cliente.pk %}"><i class="material-icons">edit</i></a></td>
			<td><a href="{% url 'delete_cliente' cliente.pk %}"><i class="material-icons">delete</i></a></td>
		</tr>
        {% endfor %}
	</table>
</div>

</body>
</html>